/CDIO projekt/nbproject/private/
/CDIO projekt/build.xml
/CDIO projekt/nbproject/genfiles.properties
/CDIO projekt/nbproject/project.xml
/CDIO projekt/nbproject/project.properties
/CDIO projekt/nbproject/build-impl.xml
/CDIO projekt/manifest.mf
/bin/
